.cardCarouselBackgrondImage {
    height: 170px;
    width: 100%;
    background-image: url('../Assasets/CardCarouselBackgroundImages.svg');
    margin-top: 20%;
}

.slick-track {
    margin-top: 6%;
}

.slick-prev {
    width: 53px;
    height: 53px;
    margin-top: 2.8%;
    border: 2px solid #037B35 !important;
    box-sizing: border-box !important;
    border-radius: 50%;
}

.slick-next {
    width: 53px;
    height: 53px;
    margin-top: 2.8%;
    border: 2px solid #037B35 !important;
    box-sizing: border-box !important;
    border-radius: 50%;
    /* margin-left: 05% !important; */
}

.slick-prev:before {
    color: #037B35;
    opacity: unset;
}
.slick-next:before
{
    color: #037B35;
    opacity: unset;
}



/* Start Media Query */
@media screen and (min-width: 480px) {
    .slick-slide img {
        margin-left: 27% !important;
    }
}